
#front {
  display: none;
  background-image: url("postcard.jpg");
  background-repeat: no-repeat;
}

#back {
  display: none;
  background-image: url("postcardback.jpg");
  background-repeat: no-repeat;
}
